*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6f9;
}

header{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:20px;
    box-shadow:0 2px 10px gray;
}

header h1{
    font-size:32px;
}

.container{
    width:90%;
    margin:30px auto;
}

.top{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
    flex-wrap:wrap;
}

.top input{
    width:300px;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
}

.top button{
    padding:12px 25px;
    background:#1976d2;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.top button:hover{
    background:#1565c0;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    box-shadow:0 0 10px lightgray;
}

th{
    background:#2e7d32;
    color:white;
    padding:15px;
}

td{
    text-align:center;
    padding:15px;
    border-bottom:1px solid #ddd;
}

tr:hover{
    background:#f1f1f1;
}

/* Status */

.instock{
    color:green;
    font-weight:bold;
}

.lowstock{
    color:orange;
    font-weight:bold;
}

.outstock{
    color:red;
    font-weight:bold;
}

@media(max-width:768px){

.top{

flex-direction:column;
gap:15px;

}

.top input{

width:100%;

}

table{

font-size:14px;

}

}